head
  link(href='https://fonts.googleapis.com/css?family=Princess+Sofia' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css')
  title Flute & Violin
  
body

  +header
  
  +listen
            
  +prices
  
  +booking

  +footer

  
