div.ui.inverted.vertical.footer.segment#footer
  div.ui.container
    div.ui.stackable.inverted.equal.height.centered.grid
      div.eight.wide.right.aligned.column
        img.ui.small.circular.right.floated.image(src='/ellen.png')
        p
          strong Ellen
        p.
          Vice migas austin poutine, pour-over viral godard everyday carry intelligentsia bitters jean shorts flannel crucifix biodiesel. Kickstarter 3 wolf moon farm-to-table, post-ironic meh dreamcatcher hoodie try-hard mumblecore hammock mlkshk squid aesthetic.
      div.eight.wide.column
        img.ui.small.circular.left.floated.image(src='/leah.jpg')
        p
          strong Leah
        p.
          Vice migas austin poutine, pour-over viral godard everyday carry intelligentsia bitters jean shorts flannel crucifix biodiesel. Kickstarter 3 wolf moon farm-to-table, post-ironic meh dreamcatcher hoodie try-hard mumblecore hammock mlkshk squid aesthetic.
