div.ui.inverted.vertical.masthead.center.aligned.segment
  div.ui.container
    div.ui.large.secondary.inverted.pointing.menu
      a.toc.item
        i.sidebar.icon
      a.active.item Home
      a.item Work
      a.item Company
      a.item Careers
      div.right.item
        a.ui.inverted.button Log In
        a.ui.inverted.button Sign Up
  div.ui.text.container
    h1.ui.inverted.header Semantic Jade
