div.ui.vertical.masthead.center.aligned.segment
  div.ui.container
    div.ui.large.secondary.inverted.pointing.menu
      a.toc.item
        i.sidebar.icon
      a.active.item Home
      a.item(href='#listen') Listen
      a.item(href='#availability') Availability
      a.item(href='#footer') About
      div.right.item
        a.ui.inverted.button Book Now!
  div.ui.text.container
    h1.ui.inverted.header Flute & Violin
    p.tagline Here is some more info
