head
  title Flute & Violin
  
body
  +header
  
  div.ui.vertical.stripe.segment#listen
    div.ui.container
      h3.ui.horizontal.divider.header
        i.music.icon
        | Listen
      
    div.ui.grid.container
      div.doubling.stackable.four.column.row
        div.column
          a.massive.ui.labeled.icon.red.button
            i.play.icon
            | Autumn
        div.column
          a.massive.ui.labeled.icon.primary.button
            i.play.icon
            | Bouree    
        div.column    
          a.massive.ui.labeled.icon.primary.button
            i.play.icon
            | Canon
        div.column    
          a.massive.ui.labeled.icon.primary.button
            i.play.icon
            | Frivolity

  +footer

  
