head
  title Flute & Violin
  
body
  +header
  
  div.ui.vertical.stripe.segment#listen
    div.ui.container
      h3.ui.horizontal.divider.header
        i.music.icon
        | Listen
      
    div.ui.grid.container
      div.ui.equal.width.stackable.grid
        div.doubling.column
          a.ui.massive.fluid.labeled.icon.gray.button
            i.play.icon
            | Autumn
        div.doubling.column
          a.ui.massive.fluid.labeled.icon.gray.button
            i.play.icon
            | Bouree
        div.doubling.column
          a.ui.massive.fluid.labeled.icon.gray.button
            i.play.icon
            | Canon
        div.doubling.column
          a.ui.massive.fluid.labeled.icon.gray.button
            i.play.icon
            | Frivolity
            
  div.ui.vertical.stripe.segement#availability
    div.ui.container
      h3.ui.horizontal.divider.header
        i.calendar.icon
        | Availability

  +footer

  
