head
  title Semantic Jade
  
body
  +header
  
  div.ui.vertical.stripe.segment
    div.ui.text.container
      h4.ui.horizontal.header.divider
        a(href='#') Primary & Secondary Buttons
      a.ui.primary.button A Primary Button
      a.ui.secondary.button A Secondary Button

      h4.ui.horizontal.header.divider
        a(href='#') Animated Buttons
      .ui.animated.fade.button(tabindex="0")
        .visible.content Sign-up for a Pro account
        .hidden.content
          | $12.99 a month

  +footer

  
