div.ui.vertical.stripe.segment#bookings
  div.ui.container
    h3.ui.horizontal.divider.header
      i.calendar.icon
      | Booking
      
    .ui.centered.green.card
      .content
        if contract_accepted
          i.right.floated.green.checkmark.up.icon
        else
          i.right.floated.red.ban.icon
        .header= full_name
        div.ui.divider
        .description
          each services
            p.center.aligned
              em= name
          p
            i.marker.icon
            = event_location
          p
            i.calendar.outline.icon
            = event_date
          p
            i.phone.icon
            a(href="tel:#{mobile}")= mobile
              
      .extra.content
        span.left.floated.at
          i.at.icon
          = created
        span.right.floated.dollar
          i.dollar.icon
          = service_fee
