div.ui.vertical.masthead.center.aligned.segment#home
  div.ui.container
    div.ui.large.secondary.inverted.pointing.menu
      a.toc.item
        i.sidebar.icon
      a.item(href='#home') Home
      a.item(href='#listen') Listen
      a.item(href='#prices') Prices
      a.item(href='#footer') About
      div.right.item
        a.ui.inverted.button(href='#booking') Contact
  div.ui.text.container
    h1.ui.inverted.header Flute & Violin
    p.tagline by leah clark & ellen chappell
    
div.ui.vertical.center.aligned.segment.callout
  p. 
    Complement your occasion with the mellifluous strains of flute & violin.
