head
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  link(href='https://fonts.googleapis.com/css?family=Princess+Sofia' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css')
  title Flute & Violin
  
body
    
  +mobile

  div.pusher
  
    .ui.basic.modal
      .content
        h1.ui.center.aligned.huge.inverted.header
          | Got it!
        h2.ui.center.aligned.inverted.header 
          | Once we review your request, we'll contact you to confirm the details.
        h2.ui.center.aligned.red.header
          i.heart.icon
          | leah & ellen
        

    +header
    
    +listen
              
    +prices
    
    +booking

    +footer

  
