<!-- Mobile Menu -->
div.ui.vertical.inverted.sidebar.menu
  a.item.active(href='#home') Home
  a.item(href='#listen') Listen
  a.item(href='#prices') Prices
  a.item(href='#booking') Book Now!
  a.item(href='#footer') About
