.ui.basic.modal
  .content
    h1.ui.center.aligned.huge.inverted.header
      | Got it!
    h2.ui.center.aligned.inverted.header 
      | Once we review your request, we'll contact you to confirm the details.
    h2.ui.center.aligned.red.header
      i.heart.icon
      | leah & ellen
